// $lightpurple: #4d323b;
$lightpurple: #0e3355;
// $darkpurple: #52021b;
$darkpurple: #031e34;

$textgrey: #484848;
$backgroundwhite: #f8f8f8; // Should match wave header svg fill color
$cardwhite:#ffffff;
