@use 'colors';
@use 'header';
@use 'headerCard';
@use 'gradient_square';
@use 'navbar';
@use 'cards';
@use 'scrollbar';
@use 'spinner';
@use 'features';
@use 'projects';
@use 'text';
@use 'speech';
@use 'footer';
@use 'navBtn';

body {
  margin: 0;
  padding: 0;
  background-color: colors.$backgroundwhite;
  width: 100%;
  color: colors.$textgrey;
  font-family: var(--font-sans), sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  overflow-y: scroll;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

@media screen and (hover: none) {
  .scrollNoOverflow {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.normalizedBackground {
  width: 100%;
  background-color: colors.$backgroundwhite;
  margin: -5.5vh 0 0 0;
  padding: 60px 0 100px 0;
  border: 1px 1px 1px 1px solid colors.$backgroundwhite;
}

.normalizedBackgroundWhite {
  width: 100%;
  background-color: colors.$cardwhite;
  margin: 0;
  padding: 100px 0 100px 0;
}

.normalizedBackgroundbig {
  width: 100%;
  height: 200vh;
  background-color: colors.$backgroundwhite;
  margin: 0;
  padding-bottom: 65px;
}

.makeItFlex {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}

.displayNone {
  display: none;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: smooth;
  }
}
